<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundles</key>
	<array>
		<dict>
			<key>associated Xcode projects</key>
			<array>
				<string>../WhazzerFinger.xcodeproj</string>
			</array>
			<key>change date</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>changed values</key>
			<array>
				<string>de</string>
			</array>
			<key>class</key>
			<string>BLBundleObject</string>
			<key>errors</key>
			<array/>
			<key>files</key>
			<array>
				<dict>
					<key>attachments</key>
					<dict>
						<key>backup</key>
						<dict>
							<key>1</key>
							<dict>
								<key>class</key>
								<string>BLWrapperHandle</string>
								<key>name</key>
								<string>WhazzerFinger/Localizable/1/Localizable.strings</string>
							</dict>
						</dict>
					</dict>
					<key>change date</key>
					<date>2012-03-19T22:00:27Z</date>
					<key>changed values</key>
					<array>
						<string>de</string>
					</array>
					<key>class</key>
					<string>BLStringsFileObject</string>
					<key>errors</key>
					<array/>
					<key>flags</key>
					<integer>0</integer>
					<key>hash</key>
					<string>a8be6bb84f7c62ef9b272318e77a6c2f
</string>
					<key>name</key>
					<string>Localizable.strings</string>
					<key>objects</key>
					<array>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>About menu item title</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>About</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>About</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Simulator not found message</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Couldn't find iOS Simulator.</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Couldn't find iOS Simulator.</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Simulator not found alert title</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Couldn't find Simulator</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Couldn't find Simulator</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Encoding window title</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Encoding movie...</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Encoding movie...</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array>
								<string>de</string>
							</array>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>iOS Simulator application name</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>iOS Simulator</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>iOS-Simulator</string>
								<key>en</key>
								<string>iOS Simulator</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Quit menu item title</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Quit</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Quit</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Record menu item title</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Record</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Record</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Screenshot menu item title</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Screenshot</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Screenshot</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Stop recording menu item title</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Stop recording</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Stop recording</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Universal Access alert title</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>Universal Access Disabled</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>Universal Access Disabled</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>changed values</key>
							<array/>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Universal Access disabled message</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>You must enable access for assistive devices in the System Preferences, under Universal Access.</string>
							<key>localizations</key>
							<dict>
								<key>en</key>
								<string>You must enable access for assistive devices in the System Preferences, under Universal Access.</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
					</array>
					<key>plist file</key>
					<false/>
					<key>snapshots</key>
					<dict/>
					<key>versions</key>
					<dict>
						<key>en</key>
						<string>1</string>
					</dict>
				</dict>
				<dict>
					<key>attachments</key>
					<dict>
						<key>backup</key>
						<dict>
							<key>1</key>
							<dict>
								<key>class</key>
								<string>BLWrapperHandle</string>
								<key>name</key>
								<string>WhazzerFinger/InfoPlist/1/InfoPlist.strings</string>
							</dict>
						</dict>
					</dict>
					<key>change date</key>
					<date>2012-03-19T19:35:12Z</date>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringsFileObject</string>
					<key>errors</key>
					<array/>
					<key>flags</key>
					<integer>0</integer>
					<key>hash</key>
					<string>b8f0b99a609bda18c49eed43bb052224
</string>
					<key>name</key>
					<string>InfoPlist.strings</string>
					<key>objects</key>
					<array/>
					<key>plist file</key>
					<false/>
					<key>snapshots</key>
					<dict/>
					<key>versions</key>
					<dict>
						<key>en</key>
						<string>1</string>
					</dict>
				</dict>
			</array>
			<key>flags</key>
			<integer>0</integer>
			<key>name</key>
			<string>../WhazzerFinger</string>
			<key>naming style</key>
			<integer>1</integer>
			<key>referencing style</key>
			<integer>1</integer>
			<key>user name</key>
			<string>WhazzerFinger</string>
		</dict>
		<dict>
			<key>associated Xcode projects</key>
			<array>
				<string>../WhazzerFinger.xcodeproj</string>
			</array>
			<key>change date</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>changed values</key>
			<array/>
			<key>class</key>
			<string>BLBundleObject</string>
			<key>errors</key>
			<array/>
			<key>files</key>
			<array>
				<dict>
					<key>attachments</key>
					<dict>
						<key>backup</key>
						<dict>
							<key>1</key>
							<dict>
								<key>class</key>
								<string>BLWrapperHandle</string>
								<key>name</key>
								<string>WhazzerFingerTests/InfoPlist/1/InfoPlist.strings</string>
							</dict>
						</dict>
					</dict>
					<key>change date</key>
					<date>2012-03-19T19:35:12Z</date>
					<key>changed values</key>
					<array/>
					<key>class</key>
					<string>BLStringsFileObject</string>
					<key>errors</key>
					<array/>
					<key>flags</key>
					<integer>0</integer>
					<key>hash</key>
					<string>b8f0b99a609bda18c49eed43bb052224
</string>
					<key>name</key>
					<string>InfoPlist.strings</string>
					<key>objects</key>
					<array/>
					<key>plist file</key>
					<false/>
					<key>snapshots</key>
					<dict/>
					<key>versions</key>
					<dict>
						<key>en</key>
						<string>1</string>
					</dict>
				</dict>
			</array>
			<key>flags</key>
			<integer>0</integer>
			<key>name</key>
			<string>../WhazzerFingerTests</string>
			<key>naming style</key>
			<integer>1</integer>
			<key>referencing style</key>
			<integer>1</integer>
			<key>user name</key>
			<string>WhazzerFingerTests</string>
		</dict>
	</array>
	<key>languages</key>
	<array>
		<string>en</string>
		<string>de</string>
	</array>
	<key>preferences</key>
	<dict>
		<key>leftLanguage</key>
		<string>en</string>
		<key>rightLanguage</key>
		<string>de</string>
		<key>saveCompressed</key>
		<false/>
	</dict>
	<key>reference language</key>
	<string>en</string>
	<key>supports preview</key>
	<true/>
	<key>version</key>
	<integer>4</integer>
</dict>
</plist>
