<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPhone 3.5-inch</key>
	<dict>
		<key>Width</key>
		<integer>368</integer>
		<key>Height</key>
		<integer>716</integer>
		<key>ScreenWidth</key>
		<integer>324</integer>
		<key>ScreenHeight</key>
		<integer>484</integer>
		<key>HardwareOverlays</key>
		<array>
			<dict>
				<key>Name</key>
				<string>iPhone 4 black</string>
				<key>Image</key>
				<string>iPhone4BlackHardware.png</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
